.footer {
    text-align: center;
}

.footer p, strong, a{
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}



.widgetCart{
    position: fixed;
    z-index: 9999;
    height: 100vh;
    width: 30%;
    right: -30%;
    top: 0;
    background: #fff;
    transition: right 0.5s ease-in-out;
    padding: 30px;
    
}

.container ul {
    display: flex;
    
  }
.container h2 {
    margin-top: 5%;
    text-align: center;
  }

.columns {
    display: flex;
}

.columns .is-half{
    margin-top: 10%;
}
.description_product{
    background-color:gray;
    margin-top: 12%;
    height: 300px;
    padding: 2%;
}



.Card{
    background-color: red;
}
  
.widgetCart .open {
    right: 0;
    box-shadow: -30px 0 30px rgba(0,0,0,0.1);
}


.cart-widget {
    position: relative;
    
}

.cart-widget .cart-widget__badge {
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 0;
    width: 15px;
    height: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
    color: white;
}

.product-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 5px;
    border-radius: 20px;
    min-width: 150px;
    
}

.product-counter .button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 0;
}

.hero__img {
    position: absolute;
    max-height: 820px;
    max-width: none;
    right: -55px;
    top: -203px;
    transform: rotate(15deg);
    animation: floatHero 5s ease-in-out infinite;
}

.image {
    &.is-animated {
        animation: float 5s ease-in-out infinite;
    }
}
.table tr th .product-counter{
    min-width: 100px;
    max-width: 150px;
}


