.container ul li {
  width: 50%;
  list-style: none;
}

.container ul {
  display: flex;
}
.container h2 {
  margin-top: 5%;
  text-align: center;
}

.container p {
  text-align: center;
  font-weight: bold;
  margin-top: 20%;
  font-size: large;
}

.list_product {
  padding-top: 5%;
  background-color: white;
  border: grey;
}
